<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="3.0.90" targetFramework="net45" />
  <package id="NSubstitute" version="1.7.2.0" targetFramework="net45" />
  <package id="NSubstituteAutoMocker" version="1.0.0.2" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
  <package id="structuremap" version="3.0.3.116" targetFramework="net45" />
  <package id="structuremap.automocking" version="2.6.4.1" targetFramework="net45" />
</packages>