<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Installation_v2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Installation_v2.Properties.Settings>
            <setting name="ApplicationName" serializeAs="String">
                <value>Гранде Cons</value>
            </setting>
            <setting name="ExecutableName" serializeAs="String">
                <value>Grande.exe</value>
            </setting>
            <setting name="ShortcutName" serializeAs="String">
                <value>Grande_CONS.lnk</value>
            </setting>
            <setting name="ReleaseCompany" serializeAs="String">
                <value>WBR_Violet_Tape</value>
            </setting>
            <setting name="TargetCompany" serializeAs="String">
                <value>Гранде</value>
            </setting>
            <setting name="InstallPath" serializeAs="String">
                <value>Wbr\GrandeCons</value>
            </setting>
            <setting name="MinimumVersionToUpdate" serializeAs="String">
                <value>1.0.100601.01</value>
            </setting>
            <setting name="pathToCE" serializeAs="String">
                <value>C:\Program Files (x86)\Microsoft SQL Server Compact Edition\v3.5\Desktop\System.Data.SqlServerCe.dll</value>
            </setting>
            <setting name="pathToVsvars" serializeAs="String">
                <value>C:\Program Files (x86)\Microsoft Visual Studio 9.0\Common7\Tools\vsvars32.bat</value>
            </setting>
            <setting name="pathToCsc" serializeAs="String">
                <value>C:\Windows\Microsoft.NET\Framework\v3.5\Csc.exe</value>
            </setting>
            <setting name="pathToResult" serializeAs="String">
                <value>D:\Project\experiment</value>
            </setting>
            <setting name="pathToAppl" serializeAs="String">
                <value>D:\Project\GrandeX\Main\Grande\bin\Debug</value>
            </setting>
            <setting name="LightUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ApplicationVersion" serializeAs="String">
                <value>1.0.100709.01</value>
            </setting>
        </Installation_v2.Properties.Settings>
    </userSettings>
</configuration>